body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}


h1{
    font-size: 30px;
}

p{
    color : #333333;
}

a{
    text-decoration: none;
}

.name-highlight{
    color: #ffcc00;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 80%;
    padding-left: 100px;
}

.top-banner{
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
}

section{
    height: 550px;
}

.link-button{
    text-decoration: none;
    background-color: #ffcc00;
    padding: 10px 20px;
    border-radius: 5px;
    color : #333333;
    font-weight: bold;

}

.on-banner {
    background-image: url("../images/biography-bg.png");
    background-repeat: no-repeat;
    
}

.work{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 40%;
    width: 24%;
    background-color:  white;
    float: left;
}

.lastest-work {
    background-image: url("../images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
}




.client-say{
    background-image: url("../images/footer-bg.png");
    
    margin: auto;
}



footer p{
    text-align: center;
}
